In [1]:
import numpy as np
import pandas as pd

In [4]:
df= pd.read_csv('cleaned_data.csv', usecols=['spam/ham','sms'])

In [5]:
df

     spam/ham                                                sms
0         ham  Go until jurong point, crazy.. Available only ...
1         ham                      Ok lar... Joking wif u oni...
2        spam  Free entry in 2 a wkly comp to win FA Cup fina...
3         ham  U dun say so early hor... U c already then say...
4         ham  Nah I don't think he goes to usf, he lives aro...
...       ...                                                ...
5164     spam  This is the 2nd time we have tried 2 contact u...
5165      ham               Will ü b going to esplanade fr home?
5166      ham  Pity, * was in mood for that. So...any other s...
5167      ham  The guy did some bitching but I acted like i'd...
5168      ham                         Rofl. Its true to its name

[5169 rows x 2 columns]

In [32]:
import nltk
from nltk.stem import PorterStemmer
import re

In [33]:
ps=PorterStemmer()

In [21]:
df['sms'] = df['sms'].apply(lambda x: re.sub('[^a-zA-Z]', " ", x))

In [23]:
df

     spam/ham                                                sms
0         ham  Go until jurong point  crazy   Available only ...
1         ham                      Ok lar    Joking wif u oni
2        spam  Free entry in   a wkly comp to win FA Cup fina...
3         ham  U dun say so early hor    U c already then say
4         ham  Nah I don t think he goes to usf  he lives aro...
...       ...                                                ...
5164     spam  This is the  nd time we have tried   contact u...
5165      ham               Will   b going to esplanade fr home
5166      ham  Pity    was in mood for that  So   any other s...
5167      ham  The guy did some bitching but I acted like i d...
5168      ham                         Rofl  Its true to its name

[5169 rows x 2 columns]

In [38]:
def stem(x):
    y=[]
    x=x.lower()
    for i in x.split():
        y.append(ps.stem(i))
    return " ".join(y)

In [40]:
df['sms'] = df['sms'].apply(stem)

In [48]:
df = pd.get_dummies(df, columns=['spam/ham'], drop_first=True, dtype=int)

In [49]:
df

                                                    sms  spam/ham_spam
0     go until jurong point crazi avail onli in bugi...              0
1                                 ok lar joke wif u oni              0
2     free entri in a wkli comp to win fa cup final ...              1
3           u dun say so earli hor u c alreadi then say              0
4     nah i don t think he goe to usf he live around...              0
...                                                 ...            ...
5164  thi is the nd time we have tri contact u u hav...              1
5165                      will b go to esplanad fr home              0
5166      piti wa in mood for that so ani other suggest              0
5167  the guy did some bitch but i act like i d be i...              0
5168                            rofl it true to it name              0

[5169 rows x 2 columns]

In [55]:
df.to_csv('preprocessed_data.csv')

In [53]:
df.isnull().sum()

sms              0
spam/ham_spam    0
dtype: int64

In [9]:
import numpy

In [10]:
numpy.__version__

'1.26.0'